.title{
    margin-right: 47px;
}
.email{
    padding-top: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #CDDDCD;
}
.danger{
    margin-bottom: 18px;
}
.danger-icon{
    color: #E3006E;
}
.send-title{
    border-bottom: 1px solid #CDDDCD;
}
.send{
     text-align: center;
    display: block;
    border:1px solid #CDDDCD;
    padding: 16px;
    margin-bottom: 24px;
}
.choose {
    
    border:1px solid   #121212;
    color: #0000009A;
}
.arrow{
    margin-right: 7px;
    font-size: 12px;
    color: #2A8356;
}
.input-name{
    background:#EDF4EE;
    color:#121212;
    font-weight: bold;

}
.page-item{
    border: 1px solid #2A8356;
}
.page-link {
   
    color: #121212;
    background-color: #fff;
   
}
.page-item.active .page-link {
    background-color: #2A8356;
   
}
.page-link:hover {
    background-color:#2A8356;
}