<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
  <style>

  </style>
</head>

<body>
  <div class="container-fluid pl-0 h-100 wrap d-flex ">
    <nav class="navbar d-flex flex-column align-items-start ">
      <a class="logo" href="#"><img src="./assets/images/logo-ANSWER.svg" alt=""></a>
      
        <ul class="menu list-unstyled mb-auto">
          <li class="mb-4" ><a class="text-dark" href="#"><span class=" mr-3 material-icons align-middle">insert_chart</span><span class="align-middle font-weight-bold">Dashboard</span></a></li>
          <li class="mb-4"><a class="text-dark" href="#"><span class=" mr-3 material-icons align-middle">forum</span><span class="align-middle font-weight-bold">Question</span></a></li>
          <li class="mb-4"><a class="text-dark" href="#"><span class=" mr-3 material-icons align-middle">assignment</span><span class="align-middle font-weight-bold">Assignment</span></a></li>
          <li class="mb-4"><a class="text-dark" href="#"><span class=" mr-3 material-icons align-middle">video_library</span><span class="align-middle font-weight-bold">Course</span></a></li>
          <li class="mb-4"><a class="text-dark" href="./admin.html"><span class=" mr-3 material-icons align-middle">people</span><span class="align-middle font-weight-bold">Admin</span></a></li>
          <li class="mb-4"><a class="text-dark" href="#"><span class=" mr-3 material-icons align-middle">settings</span><span class="align-middle font-weight-bold">Settings</span></a></li>
        </ul>
        <div class="user-info d-flex align-items-center">
            <img class="rounded-circle mr-3" src="./assets/images/andychen.jpeg" alt="">
            <div class="userlink">
              <h3 class="user-name text-dark font-weight-bold mb-0">Andy Chen</h3>
              <a class="user-mail text-info font-weight-bold" href="mailto:andy0401@mail.com">andy0401@mail.com</a>
            </div>
  
        </div>
     
    
    </nav>


    <div class="main ">
      <%- contents %>
    </div>
   </div>








  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>

</html>


<script src="./assets/js/vendors.js"></script>
<script src="./assets/js/all.js"></script>
</body>

</html>