.wrap {
    position: relative;
}

.navbar {
    min-width: 296px;
    min-height: 100vh;
    background-color: #EDF4EE;
    padding: 32px;
    display: block;

}

.logo {
    margin-bottom: 32px;
    display: block;
}

.user-info {
    position: absolute;
    bottom: 32px;

    img {
        width: 40px;
        height: 40px;
    }
}